html{
  overflow-x: hidden;
}

.book{
  /*height: 100vh;*/
  margin: 0 auto;
  margin-bottom: 20rem;
}

/*Notifications*/
.notifications-holder{
  position: relative;
  height: 0px;
  text-align: center;
}
.notifications{
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  display: block;
  top: 0px;
  width: 100%;
  text-align: center;
  z-index: 999;
}
.notification-item{
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 2rem;
  border: 1px solid grey;
}
.notification-span{
  margin-left: 2rem;
  margin-right: 2rem;
  font-weight: bold;
}

/*Item*/

.item{
  display: inline-block;
  position: relative;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.item.equipped{
  -webkit-box-shadow: 0px 0px 10px 5px rgba(255,231,0,1);
  -moz-box-shadow: 0px 0px 10px 5px rgba(255,231,0,1);
  box-shadow: 0px 0px 10px 5px rgba(255,231,0,1);
}

.item-info-over{
  padding: 2rem;
  display: none;
  position: absolute;
  background-color: #fef8e5;
  color: black;
  top: 0.5rem;
  left: 7rem;
  width: 28rem;
  z-index: 9999999;
  font-size: 1.5rem;
  font-weight: normal;
  text-align: left;
}
.item-display:hover + .item-info-over{
  display: block;
}
.item-info-over:hover{
  display: block;
}
.item-count-over{
  display: block;
  position: absolute;
  bottom: 0px;
  left: 4px;
  color: white;
  font-size: 2rem;
  font-weight: bolder;
}

img.item-image{
  padding: 0px;
  height: 10rem;
  border: 3px solid black;
}

p.item-note{
  color: green;
}

span.inline-bold{
  font-weight: bold;
}
p.inline-requirement{
  font-family: sans-serif;
  font-weight: bolder;
}

/*Tool bar related */

.tool-bar{
  height: 5%;
  text-align: center;
}

.btn-dashboard, .btn-analysis, .btn-scenario, .btn-inventory, .btn-journal, .btn-print-book{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 20rem;
  max-width: 15%;
  padding-top: 2rem;
  padding-bottom: 1rem;
  color: white;
  font-size: 1.5rem;
}
.btn-dashboard{
  background-color: #192231;
}
.btn-analysis{
  background-color: #224267;
}
.btn-scenario{
  background-color: #b82601;
}
.btn-inventory{
  background-color: #224267;
}
.btn-journal{
  background-color: #224267;
}
.btn-print-book{
  display: none;
  padding-bottom: 2rem;
  width: 30rem;
  margin-top: 5rem;
}

.split-two, .dashboard, .journal, .single{
  margin-bottom: 20rem;
}
.split-two-media, .split-two-main{
  padding-top: 3rem;
  padding-bottom: 3rem;
  overflow-y: scroll;
}
.split-two-media{
  text-align: center;
}
.single{
  padding-left: 15%;
  padding-right: 15%;
}
.journal{
  padding-left: 15%;
  padding-right: 15%;
}
.journal-field{
}

.tool-bar{
  height: 10%;
}
.scenario-node{
  height: 90%;
}

.split-two-img{
  display: inline-block;
  /*height: 50rem;*/
  width: 80%;
  /*height: 100%;*/
}

.choice-item{
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  border-bottom: 1px solid lightgrey;
}
.choice-item-list{
  vertical-align: bottom;
  font-size: 1.5rem;
}
.choice-item-list-item{
  margin-bottom: 1rem;
}
.panel-heading:hover{
  cursor: pointer;
}
.panel-body{
  display: none;
}

.color-red{
  color: red;
}


/*widgets on the dashboard*/
.dashboard{
  padding: 2rem;
  background-color: #222222;
}

.dashboard-left, .dashboard-middle, .dashboard-right{
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.qualities-table, .attributes-table{
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  border: 1px solid grey;
}
td{
  vertical-align: middle !important;
  border: none !important;
}

/*date time*/
.panel-clock{
  border: none;
}
.panel-clock-heading{
  background-color: #ffa700 !important;
  font-weight: bold;
  text-align: center;
  border: none;
  font-size: 2rem;
}
.panel-clock-body{
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;

}
.panel-date{
  border: none;
}
.panel-date-heading{
  background-color: #0057e7 !important;
  font-weight: bold;
  text-align: center;
  border: none;
  font-size: 2rem;
}
.panel-date-body{
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-size: 2.5rem;
  text-align: center;
  font-weight: bolder;
}

/*Chapter related*/
.chapter-title{
  font-weight: bold;
  margin-top: 10rem;
}
.chapter-subtitle{
  margin-top: 0px;
  font-style: italic;
  margin-bottom: 5rem;
}
.chapter-sectionTitle{
  margin-top: 2rem;
  font-weight: bold;
  text-indent: 2rem;
}
.chapter-paragraph{
  text-indent: 2rem;
}
