html{
  overflow-x: hidden;
}

.book{
  height: 100vh;
  margin: 0 auto;
}

img.item-image{
  padding: 0px;
  height: 10rem;
  border: 3px solid black;
}

p.item-note{
  color: green;
}

span.inline-bold{
  font-weight: bold;
}

/*Tool bar related */

.tool-bar{
  height: 5%;
  text-align: center;
}

.btn-dashboard, .btn-analysis, .btn-scenario, .btn-inventory, .btn-journal{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 20rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  color: white;
  font-size: 1.5rem;
}
.btn-dashboard{
  background-color: #192231;
}
.btn-analysis{
  background-color: #224267;
}
.btn-scenario{
  background-color: #b82601;
}
.btn-inventory{
  background-color: #224267;
}
.btn-journal{
  background-color: #224267;
}

.split-two, .dashboard{
  height: 80%;
}



.split-two-media, .split-two-main{
  padding-top: 3rem;
  padding-bottom: 3rem;
  height: 100%;
  overflow-y: scroll;
}
.split-two-media{
  text-align: center;
}

.tool-bar{
  height: 10%;
}
.scenario-node{
  height: 90%;
}

.split-two-img{
  display: inline-block;
  height: 100%;
}

.choice-item{
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  border-bottom: 1px solid lightgrey;
}

.color-red{
  color: red;
}


/*widgets on the dashboard*/
.dashboard{
  padding: 2rem;
  background-color: #222222;
}

.dashboard-left{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/*date time*/
.panel-clock{
  border: none;
}
.panel-clock-heading{
  background-color: #ffa700 !important;
  font-weight: bold;
  text-align: center;
  border: none;
  font-size: 2rem;
}
.panel-clock-body{
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;

}
.panel-date{
  border: none;
}
.panel-date-heading{
  background-color: #0057e7 !important;
  font-weight: bold;
  text-align: center;
  border: none;
  font-size: 2rem;
}
.panel-date-body{
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-size: 2.5rem;
  text-align: center;
  font-weight: bolder;
}
