html{
  overflow-x: hidden;
}

.book{
  height: 100vh;
}

img.item-image{
  padding: 0px;
  height: 10rem;
  border: 3px solid black;
}

p.item-note{
  color: green;
}

span.inline-bold{
  font-weight: bold;
}

.tool-bar{
  height: 5%;
}

.split-two, .dashboard{
  height: 90%;
}

.dashboard{
  background-color: #192231;
}

.split-two-media, .split-two-main{
  padding-top: 5rem;
  padding-bottom: 5rem;
  height: 100%;
  overflow-y: scroll;
}
.split-two-media{
  text-align: center;
}

.tool-bar{
  height: 10%;
}
.scenario-node{
  height: 90%;
}

.split-two-img{
  display: inline-block;
  height: 100%;
}

.choice-item{
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  border-bottom: 1px solid lightgrey;
}

.color-red{
  color: red;
}
